@charset "UTF-8";

#leapPointerSettings {
    padding: 15px;
}

#leapPointerSettings table {
    border-collapse: collapse;
}

#leapPointerSettings td {
    border: 1px solid black;
    padding: 4px;
    text-align: left;
}

#leapPointerDialog {
    border: 1px solid black;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
